/*
@font-face {
   font-family: fonteLogo;
   src: url(../fonts/alexisv3.ttf);
 }


@font-face {
   font-family: fonteKuture;
   src: url(../fonts/ALBAS___.TTF);
 }


*/
body {
      font: 400 15px Lato, sans-serif;
      line-height: 1.8;
      color: #000; /*818181*/
      background-color: #000;
  }

  /*Efeito deslizante nos itens da página com a classe esconderSlide
  com JavaScript quando desliza a página ai muda para a classe .slide*/

  .esconderParaDeslizar {visibility:hidden;}
  .slide {
      animation-name: slide;
      -webkit-animation-name: slide;
      animation-duration: 1s;
      -webkit-animation-duration: 1s;
      visibility: visible;
  }
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
    .btn-lg {
        width: 100%;
        margin-bottom: 35px;
    }
  }
  @media screen and (max-width: 480px) {
    .icone-maior {
        font-size: 150px;
    }
    
  }



    img#logo_menu{
      margin-top: -5px;
      max-width: 200px;
      -webkit-animation-duration: 2s;
      -webkit-animation-delay: 1s;
    }
/*
Fim do Menu
*/
#modalLogin{
  z-index: 99999;
  
}

/*
Div Topo
*/

.topo{
  padding: 0px;
  width: 100%;
}

.textoDivTopo{
  position: absolute;
  top: 100px;
  right: 100px;
  color: #fff;
}

.capturH1{
  -webkit-animation-duration: 1.5s;
  -webkit-animation-delay: 0s;
}.designH2{
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 1s;
}

.imgTopo{
  width: 100%;

}

.divTopoEfeito {
  padding: 0px;
  overflow: hidden;
  height: auto;
  background-color: #fff;
  -webkit-transform: skewY(-3deg);
  -moz-transform: skewY(-3deg);
  -ms-transform: skewY(-3deg);
  -o-transform: skewY(-3deg);
  transform: skewY(-3deg);
}

.divTopoEfeito > .corpoEfeito {
  -webkit-transform: skewY(0deg);
  -moz-transform: skewY(0deg);
  -ms-transform: skewY(0deg);
  -o-transform: skewY(0deg);
  transform: skewY(0deg);
}



.divTopoEfeito1 {
  padding: 0px;
  overflow: hidden;
  max-height: 800px;
  -webkit-transform: skewY(-3deg);
  -moz-transform: skewY(-3deg);
  -ms-transform: skewY(-3deg);
  -o-transform: skewY(-3deg);
  transform: skewY(-3deg);
}

.divTopoEfeito1 > .corpoEfeito1 {
  -webkit-transform: skewY(3deg);
  -moz-transform: skewY(3deg);
  -ms-transform: skewY(3deg);
  -o-transform: skewY(4deg);
  transform: skewY(3deg);
}



.topoCarousel{
  margin-top: 100px!important;
}


#myCarousel1{
  max-width: 600px;
  margin-top: 25px;
  margin-right: auto;
  margin-left: auto;
}

#myCarousel3{
  max-width: 800px;
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 100px;
}

.carousel-control.left, .carousel-control.right {
    background-image: none
}


/*Inclinação Padrão*/

.box {
  background-color: #000;
  margin-top: 50px;
  padding: 5% 20px; /* Added a percentage value for top/bottom padding to keep the wrapper inside of the parent */
  
  -webkit-transform: skewY(-5deg);
  -moz-transform: skewY(-5deg);
  -ms-transform: skewY(-5deg);
  -o-transform: skewY(-5deg);
  transform: skewY(-5deg);
}

.box > .wrapper {
  -webkit-transform: skewY(5deg);
  -moz-transform: skewY(5deg);
  -ms-transform: skewY(5deg);
  -o-transform: skewY(5deg);
  transform: skewY(5deg);
}

.boxBranca {
  background-color: #fff;
  
  padding: 5% 20px; /* Added a percentage value for top/bottom padding to keep the wrapper inside of the parent */
  
  -webkit-transform: skewY(-5deg);
  -moz-transform: skewY(-5deg);
  -ms-transform: skewY(-5deg);
  -o-transform: skewY(-5deg);
  transform: skewY(-5deg);
}

.boxBranca > .wrapperBranca {
  -webkit-transform: skewY(5deg);
  -moz-transform: skewY(5deg);
  -ms-transform: skewY(5deg);
  -o-transform: skewY(5deg);
  transform: skewY(5deg);
}

/*Fim da inclinação padrão */

.linhaAmarela{
  background-color: #F7D300;
  width: 400px;
  height: 10px;
  margin-right: auto;
  margin-left: auto;
}

.fundoBranco{
  background-color: #FFF;
  max-width: 300px;
  height: 400px;
  margin-left: auto;
  margin-top: 40px;
  
}

.juncaoDiv{
  padding:0px;
}

.textoFundoBranco{
  max-width: 180px;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  padding-top: 80px;

}

.fundoAmarelo{
  background-color: #F7D300;
  max-width: 400px;
  height: 480px;
  margin-right: auto;
  overflow: hidden;
  
}


.imgDesign{
  max-width: 500px;
  margin-top: 100px;
  margin-left: -10px;
 -moz-transition: all 2s;
  -webkit-transition: all 2s;
  transition: all 2s;
}


img.imgDesign:hover {
  margin-left: -50px;
  -moz-transform: scale(1.15);
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}



.bordaAmarela{
  border-color: #F7D300;
  border-style: solid;
  border-right: none;
  position: absolute;
  top: 25px;
  height: 430px;
  width: 280px;
  right: 0px;

}


.tituloDesign{
  color:  #fff;
  margin-bottom: 150px;
}.tituloConforto{
  color:  #fff;
  margin-bottom: 150px;
}.tituloContato{
  color:  #fff;
  margin-top: 50px;
}.textoContato{
  color: #fff;
  margin-bottom: 50px;
}.tituloFooter{
  color: #fff;
  margin-bottom: 50px;
  margin-top: 100px;
}

.divVideo{
  margin-top: 100px;
}
 .divIframe{
  max-width: 560px;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;

 }

 #conforto{
  padding: 0px;
}.divMotorista{
  padding: 0px;
}

#tecnologia{
  margin-top: 150px;
}

.carousel-inner img {
  width: 100%;
  margin: auto;
  }


.footerConforto{
  margin-top: 100px;
}

.recuo{
  text-indent:4em;
}

input[placeholder], [placeholder], *[placeholder] {
  background-color: #000;
  color: #fff !important;
}

#formularioContato{
  max-width: 700px;
  margin-right: auto;
  margin-left: auto;
}

label{
  color: #fff;
}

.venhaRenault{
  color: #4A494A;
  margin-top: 100px;
}

.venhaRenaultBtn{
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 150px;
}

.venhaRenault .btn{
  background-color: #F7D300; /*FFFF10*/
  width: 190px;
  height: 40px;
  margin-left: 8px;
  font-size: 10pt;

}

.footerBox{
  margin-top: 0px;
  padding: 0px;
}

.venhaRenault .btn:hover{
  background-color: #000;
  color: #F7D300;

}

.encontre{
  font-size: 7pt!important;
}



/* footer social icons */
ul.social-network {
  list-style: none;
  display: inline;
  margin-left:0 !important;
  padding: 0;
}
ul.social-network li {
  display: inline;
  margin: 0 5px;
}


/* footer social icons */
.social-network a.icoInstagram:hover {
  background-color: #B530AD;
}
.social-network a.icoFacebook:hover {
  background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
  background-color:#33ccff;
}


.social-network a.icoInstagram:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i{
  color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
  color:#44BCDD;
}

.social-circle li a {
  display:inline-block;
  position:relative;
  margin:0 auto 0 auto;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  border-radius:50%;
  text-align:center;
  width: 50px;
  height: 50px;
  font-size:20px;
}
.social-circle li i {
  margin:0;
  line-height:50px;
  text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}
.social-circle i {
  color: #000;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

a.iconesSociais{
  /*background-color: #D3D3D3;*/
  background-color: #fff;  
}

.iconesSociaisDiv{
  max-width: 200px;
  margin-right: auto;
  margin-left: auto;
}

.barraFinal{
  margin-top: 100px;
  padding: 10px!important;
  background-color: #212021;
  padding: 0px;
  height: 50px;
  
}

.barraFinalA{
color: #fff!important;
margin-left: 30px;
margin-right: 30px;
font-size: 14pt;
}


